@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sono:wght@200..800&display=swap");
* {
  margin: 0;
  padding: 0;
}

.upcycling-item p {
  font-family: poppins;
  font-size: large;
  color: #eaeae8;
  text-align: right;
  padding-left: 5vw;
}

.testimonios-page .testimonios-input .testimonios-item .testimonios-title h1, .body-upcyclingpage .upcyclingpage-grid .upcyclingpage-text h1, .novedades .novedades-title h1, .nosotrospage .mapa h2, .nosotrospage .nosotros-grid-container .nosotros-grid-item.nosotros-grid-item-text h1, .clasicos h1 {
  font-family: sono;
  font-size: large;
}
.testimonios-page .testimonios-input .testimonios-item .testimonios-title h1::selection, .body-upcyclingpage .upcyclingpage-grid .upcyclingpage-text h1::selection, .novedades .novedades-title h1::selection, .nosotrospage .mapa h2::selection, .nosotrospage .nosotros-grid-container .nosotros-grid-item.nosotros-grid-item-text h1::selection, .clasicos h1::selection {
  background-color: #5ab53c;
  color: #0d0d0d;
}

header {
  height: 8vh;
  display: grid;
}
header .bg-body-tertiary {
  background-color: #eaeae8 !important;
}
header .navbar-brand img {
  height: 7vh;
}
header .nav-item {
  padding-right: 50px;
}

footer {
  background-color: #5ab53c;
  height: 11vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
footer img {
  height: 7vh;
}

.hero img {
  width: 100%;
  display: block;
}

.clasicos h1 {
  margin-top: 5vh;
  margin-left: 5vw;
}
.clasicos h1::selection {
  background-color: #5ab53c;
}
.clasicos .galeria-clasicos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 5px;
}
.clasicos .galeria-clasicos-item img {
  height: 25vw;
  transition: 1s;
}
.clasicos .galeria-clasicos-item:hover img {
  height: 33vw;
  transition: 1s;
}

.upcycling {
  background-color: #5ab53c;
}
.upcycling-background {
  width: 100%;
}
.upcycling-container {
  display: grid;
  grid-template-columns: 40vw 40vw;
  grid-template-rows: 1fr;
  justify-content: center;
  gap: 5vw;
  align-items: center;
  padding: 0 2vw 5vw 2vw;
  background-color: #5ab53c;
}
.upcycling-item-text {
  justify-self: end;
}
.upcycling-item h2 {
  font-family: sono;
  font-weight: bolder;
  font-size: clamp(2rem, 6vw, 7rem);
  color: #eaeae8;
  text-align: right;
}
.upcycling-item-carousel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 30vw;
}
.upcycling-item-carousel img {
  border-radius: 3cap;
}

.nosotrospage {
  min-height: 81vh;
}
.nosotrospage .nosotros-grid-container {
  width: 81vw;
  max-width: 2500px;
  height: 77vh;
  margin: 0 auto 20px auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 1fr;
  box-sizing: border-box;
}
.nosotrospage .nosotros-grid-container .nosotros-grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.nosotrospage .nosotros-grid-container .nosotros-grid-item.nosotros-grid-item-pufferbag {
  grid-column: 1/2;
  grid-row: 1/3;
}
.nosotrospage .nosotros-grid-container .nosotros-grid-item.nosotros-grid-item-pufferbag img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  max-width: 100%;
  max-height: 100%;
}
.nosotrospage .nosotros-grid-container .nosotros-grid-item.nosotros-grid-item-text {
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: left;
  display: flex;
  flex-direction: column;
}
.nosotrospage .nosotros-grid-container .nosotros-grid-item.nosotros-grid-item-text p {
  font-family: poppins;
  text-align: justify;
  font-size: 100%;
  max-width: 600px;
}
.nosotrospage .nosotros-grid-container .nosotros-grid-item.nosotros-grid-item-text p::selection {
  background-color: #5ab53c;
  color: #0d0d0d;
}
.nosotrospage .nosotros-grid-container .nosotros-grid-item.nosotros-grid-item-logo {
  grid-column: 2/3;
  grid-row: 2/3;
  align-items: start;
}
.nosotrospage .nosotros-grid-container .nosotros-grid-item.nosotros-grid-item-logo img {
  max-width: 550px;
  width: 40vw;
  height: auto;
  display: block;
}
.nosotrospage .mapa {
  background-color: #5ab53c;
}
.nosotrospage .mapa h2 {
  color: #0d0d0d;
  font-weight: 700;
  padding: 5vh 5vw 0vh 5vw;
}
.nosotrospage .mapa p {
  font-size: large;
  margin: 2vh 5vw 5vh 5vw;
}
.nosotrospage .mapa iframe {
  width: 100vw;
  border: #5ab53c 5px solid;
}

.novedades {
  background-color: #0d0d0d;
  min-height: 81vh;
}
.novedades .novedades-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
.novedades .novedades-title img {
  width: 35vw;
  padding: 1%;
}
.novedades .novedades-title h1 {
  color: #5ab53c;
}
.novedades .novedades-container {
  display: flex;
  justify-self: center;
  height: 67vh;
  max-width: 2300px;
  gap: 5%;
  margin-top: 1rem;
  padding: 0 2rem;
}
.novedades .novedades-container .novedades-item {
  height: 60vh;
  width: 30vw;
  overflow: hidden;
}
.novedades .novedades-container .novedades-item img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border: #5ab53c 3px solid;
  border-radius: 50px;
  margin: 0;
  padding: 0;
}
.novedades .novedades-container .novedades-item p {
  font-family: poppins;
  font-size: medium;
  color: #5ab53c;
  padding: 0.5rem;
  height: 20%;
  overflow: hidden;
  text-align: center;
}

.body-upcyclingpage {
  background: linear-gradient(to bottom, #eaeae8, #5ab53c);
  min-height: 81vh;
  display: flex;
  justify-content: center;
  justify-items: center;
}
.body-upcyclingpage .upcyclingpage-grid {
  display: grid;
  justify-self: center;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 30vh auto;
  width: 100%;
  max-width: 1700px;
  column-gap: 3rem;
}
.body-upcyclingpage .upcyclingpage-grid .upcyclingpage-grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
.body-upcyclingpage .upcyclingpage-grid .upcyclingpage-grid-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  padding-top: 5vh;
}
.body-upcyclingpage .upcyclingpage-grid .upcyclingpage-grid-item video {
  width: auto;
  height: 100%;
  object-fit: contain;
  display: block;
  align-self: flex-end;
  max-height: 81vh;
}
.body-upcyclingpage .upcyclingpage-grid .upcyclingpage-video {
  grid-column: 2/3;
  grid-row: 1/3;
}
.body-upcyclingpage .upcyclingpage-grid .upcyclingpage-text {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.body-upcyclingpage .upcyclingpage-grid .upcyclingpage-text h1 {
  text-align: left;
  font-family: sono;
  font-weight: 800;
  font-size: 200%;
}
.body-upcyclingpage .upcyclingpage-grid .upcyclingpage-text p {
  text-align: justify;
  font-family: poppins;
  font-size: 100%;
  padding: 0 10vw;
}

.testimonios-page {
  background-color: #eaeae8;
  min-height: 81vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonios-page .testimonios-input {
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 5vh 0 5vh 0;
}
.testimonios-page .testimonios-input .testimonios-item {
  width: 40vw;
  box-sizing: border-box;
  padding: 1%;
}
.testimonios-page .testimonios-input .testimonios-item .testimonios-title h1 {
  margin-left: 25px;
}
.testimonios-page .testimonios-input .testimonios-item img {
  width: 100%;
}
.testimonios-page .testimonios-input .testimonios-item form {
  padding: 10%;
  background-color: #5ab53c;
  border: #0d0d0d 5px solid;
  border-radius: 1cm;
}
.testimonios-page .testimonios-input .testimonios-item form label {
  font-family: sono;
  font-weight: 400;
}
.testimonios-page .testimonios-input .testimonios-item form input {
  background-color: #3e7e29;
  color: #5ab53c;
  font-family: sono;
  font-size: large;
}
.testimonios-page .testimonios-input .testimonios-item form textarea {
  width: 100%;
  box-sizing: border-box;
  background-color: #3e7e29;
  color: #eaeae8;
  font-family: sono;
  font-size: medium;
  resize: vertical;
}
.testimonios-page .testimonios-input .testimonios-item form button {
  padding: 3%;
  color: #0d0d0d;
  font-size: 100%;
  background-color: #6bd647;
  font-family: sono;
  font-weight: 700;
}

@media (min-width: 992px) {
  .nav-item {
    display: flex;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .clasicos .galeria-clasicos-item:hover img {
    height: 40vh;
    transition: 1s;
  }
  .upcycling {
    margin-top: 2vh;
    width: 100%;
  }
  .upcycling-container {
    padding: 0 0 7vh 0;
    width: 100%;
  }
  .upcycling-item-text {
    padding: 2vh 0 2vh 2vw;
  }
  .upcycling-item-carousel {
    max-width: 60vw;
  }
  .nosotrospage {
    width: 100%;
  }
  .nosotrospage .nosotros-grid-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    height: auto;
    overflow: visible;
  }
  .nosotrospage .nosotros-grid-container .nosotros-grid-item {
    width: 100%;
    height: auto;
    overflow: visible;
  }
  .nosotrospage .nosotros-grid-container .nosotros-grid-item.nosotros-grid-item-logo {
    display: flex;
    max-width: 300px;
    margin-top: 10vh;
    margin-bottom: 5vh;
  }
  .nosotrospage .nosotros-grid-container .nosotros-grid-item.nosotros-grid-item-logo img {
    max-width: 100%;
  }
  .nosotrospage .nosotros-grid-container .nosotros-grid-item.nosotros-grid-item-text p {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .nosotrospage .nosotros-grid-container .nosotros-grid-item.nosotros-grid-item-pufferbag img {
    width: 90%;
    height: auto;
    margin: 0;
    padding: 0;
  }
  .body-upcyclingpage .upcyclingpage-grid {
    display: grid;
    justify-self: center;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 30vh auto;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    column-gap: 0;
  }
  .body-upcyclingpage .upcyclingpage-grid .upcyclingpage-grid-item img {
    justify-self: center;
    width: 70%;
    height: auto;
    padding-top: 4vh;
  }
  .body-upcyclingpage .upcyclingpage-grid .upcyclingpage-grid-item video {
    object-fit: cover;
    width: fill;
    object-fit: auto;
    align-self: flex-start;
  }
  .body-upcyclingpage .upcyclingpage-grid .upcyclingpage-text {
    justify-content: flex-start;
  }
  .body-upcyclingpage .upcyclingpage-grid .upcyclingpage-text h1 {
    text-align: center;
    font-size: 220%;
  }
  .body-upcyclingpage .upcyclingpage-grid .upcyclingpage-text p {
    text-align: justify;
    font-family: poppins;
    font-size: 80%;
    padding-left: 5vw;
    padding-right: 5vw;
  }
}
@media (max-width: 767px) {
  .clasicos .galeria-clasicos-item:hover img {
    height: 27vh;
    transition: 1s;
  }
  .upcycling-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .upcycling-item {
    margin: 1vh 2vw 1vh 2vw;
  }
  .upcycling-item-text {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 90%;
    height: auto;
  }
  .upcycling-item h2 {
    font-size: 45px;
    text-align: center;
    margin-bottom: 3vh;
  }
  .upcycling-item p {
    font-size: 15px;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .upcycling-item-carousel {
    max-width: 90vw;
  }
  .nosotrospage .nosotros-grid-container {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    height: auto;
    overflow: visible;
  }
  .nosotrospage .nosotros-grid-container .nosotros-grid-item {
    height: auto;
    overflow: visible;
  }
  .nosotrospage .nosotros-grid-container .nosotros-grid-item.nosotros-grid-item-logo {
    display: flex;
    max-width: 300px;
    margin-top: 6vh;
    margin-bottom: 5vh;
  }
  .nosotrospage .nosotros-grid-container .nosotros-grid-item.nosotros-grid-item-logo img {
    max-width: 100%;
  }
  .nosotrospage .nosotros-grid-container .nosotros-grid-item.nosotros-grid-item-text p {
    margin: 0;
    padding: 0;
  }
  .nosotrospage .nosotros-grid-container .nosotros-grid-item.nosotros-grid-item-pufferbag img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }
  .novedades .novedades-title img {
    height: auto;
    width: 87vw;
    margin: 2vh 0vh 2vh 0vh;
  }
  .novedades .novedades-container {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .novedades .novedades-container .novedades-item {
    width: 80vw;
    height: auto;
    margin-bottom: 1rem;
  }
  .novedades .novedades-container .novedades-item img {
    height: auto;
  }
  .novedades .novedades-container .novedades-item p {
    height: auto;
    font-size: small;
  }
  .body-upcyclingpage .upcyclingpage-grid {
    width: 100vh;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
  }
  .body-upcyclingpage .upcyclingpage-grid .upcyclingpage-grid-item img {
    justify-self: center;
    width: 100vw;
    height: auto;
    padding: 35px 15px 35px 15px;
  }
  .body-upcyclingpage .upcyclingpage-grid .upcyclingpage-grid-item video {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: auto;
    max-height: 100vh;
    object-fit: cover;
  }
  .body-upcyclingpage .upcyclingpage-grid .upcyclingpage-text h1 {
    margin: 35px 5px 35px 5px;
    text-align: center;
    font-size: 300%;
  }
  .body-upcyclingpage .upcyclingpage-grid .upcyclingpage-text p {
    font-family: poppins;
    font-size: 90%;
    padding: 0 25px 55px 25px;
  }
}
@media (max-width: 1400px) {
  .testimonios-page .testimonios-input {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5vh;
  }
  .testimonios-page .testimonios-input .testimonios-item {
    gap: 0;
    width: 95vw;
    box-sizing: border-box;
    padding: 0 5vw 3vh 5vw;
    align-content: center;
    min-height: auto;
  }
}

/*# sourceMappingURL=estilos.css.map */
