.nosotrospage {
  min-height: 81vh;

  .nosotros-grid-container {
    width: 81vw;
    max-width: 2500px;
    height: 77vh;
    margin: 0 auto 20px auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr;
    box-sizing: border-box;

    .nosotros-grid-item {
      @include flex(flex, center, center);
      width: 100%;
      height: 100%;
      box-sizing: border-box;

      &.nosotros-grid-item-pufferbag {
        grid-column: 1 / 2;
        grid-row: 1 / 3;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          display: block;
          max-width: 100%;
          max-height: 100%;
        }
      }

      &.nosotros-grid-item-text {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        text-align: left;
        display: flex;
        flex-direction: column;

        h1 {
          @extend %h1;
        }

        p {
          font-family: poppins;
          text-align: justify;
          font-size: 100%;
          max-width: 600px;

          &::selection {
            background-color: $verde;
            color: $negro;
          }
        }
      }

      &.nosotros-grid-item-logo {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        align-items: start;

        img {
          max-width: 550px;
          width: 40vw;
          height: auto;
          display: block;
        }
      }
    }
  }

  .mapa {
    background-color: $verde;
    
    h2 {
      @extend %h1;
      color: $negro;
      font-weight: 700;
      padding: 5vh 5vw 0vh 5vw;
    }

    p {
      font-size: large;
      margin: 2vh 5vw 5vh 5vw;
    }

    iframe {
      width: 100vw;
      border: $verde 5px solid;
    }
  }
}
