.testimonios-page {
    background-color: $blanco;
    min-height: 81vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .testimonios-input {
        display: flex;
        gap: 25px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        box-sizing: border-box;
        margin: 5vh 0 5vh 0;

        .testimonios-item {
            width: 40vw;
            box-sizing: border-box;
            padding: 1%;

            .testimonios-title{
                h1{
                    @extend %h1;
                margin-left: 25px;
                }
            }

            img {
                width: 100%;
            }

            form {
                padding: 10%;
                background-color: $verde;
                border: $negro 5px solid;
                border-radius: 1cm;

                label {
                    font-family: sono;
                    font-weight: 400;
                }

                input {
                    background-color: #3e7e29;
                    color: $verde;
                    font-family: sono;
                    font-size: large;
                }

                textarea {
                    width: 100%;
                    box-sizing: border-box;
                    background-color: #3e7e29;
                    color: $blanco;
                    font-family: sono;
                    font-size: medium;
                    resize: vertical;
                }

                button {
                    padding: 3%;
                    color: $negro;
                    font-size: 100%;
                    background-color: #6bd647;
                    font-family: sono;
                    font-weight: 700;
                }
            }
        }
    }
}