body {
    header {
        //**Está en la hoja HEADER, por ser Bootstrap//}
    }

        section .body-upcycling {
            background: linear-gradient(to bottom, #eaeae8, #5ab55a);

            div .upcyclingpage-grid {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 40vh 40vh;
                width: 100%;
                max-width: 100vw;
                padding: 3%;

                div .upcycling-grid-item {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    box-sizing: border-box;
                    padding: 30px;
                    font-family: 'poppins';
                    text-align: justify;
                    font-size: 15px;

                    h1 {
                        font-family: "poppins";
                        font-weight: 800;
                        font-size: 10vw;
                        color: #0d0d0d;
                        padding-top: 3vh;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        display: block;
                    }
                }

                div .upcycling-grid-item-2column {
                    grid-column: 1 / 3;
                    grid-row: 1/2;
                }

                div .upcyclingpage-grid-item-2row {
                    grid-row: span 2;
                    padding: 1vw;
                    display: flexbox;
                    justify-content: center;
                    align-content: center;

                    video {
                        width: 30vw;
                        object-fit: cover;
                        display: block;
                    }
                }
            }

        }
    }
