body {
    header {}

    main {
        div .body-upcyclingpage {
            background: linear-gradient(to bottom, #eaeae8, #5ab55a);
            min-height: 81vh;
            display: flex;
            justify-content: center;
            justify-items: center;

            div .upcyclingpage-grid {
                display: grid;
                justify-self: center;
                grid-template-columns: 2fr 1fr;
                grid-template-rows: 30vh auto;
                width: 100%;
                max-width: 1500px;
                padding: 1%;
                column-gap: 3rem;

                .upcyclingpage-item {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    box-sizing: border-box;
                    height: 100%;
                    width: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        display: block;
                        padding-top: 5vh;
                    }

                    video {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        display: block;
                        align-self: flex-end;
                        max-height: 81vh;
                    }

                    .upcyclingpage-title {}

                    .upcyclingpage-video {
                        grid-column: 2/3;
                        grid-row: 1/3;
                    }

                    .upcyclingpage-text {
                        display: flex;
                        flex-direction: column;

                        h1 {
                            text-align: left;
                            font-family: sono;
                            font-weight: 800;
                            font-size: larger;
                        }

                        p {
                            text-align: justify;
                            font-family: anuphan;
                            font-size: medium;
                            padding: 0 10vw 0 10vw;
                        }
                    }
                }
            }
        }
    }

    footer {}
}