.body-upcyclingpage {
  background: linear-gradient(to bottom, $blanco, $verde);
  min-height: 81vh;
  display: flex;
  justify-content: center;
  justify-items: center;

  .upcyclingpage-grid {
    display: grid;
    justify-self: center;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 30vh auto;
    width: 100%;
    max-width: 1700px;
    column-gap: 3rem;

    .upcyclingpage-grid-item {
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      height: 100%;
      width: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
        padding-top: 5vh;
      }

      video {
        width: auto;
        height: 100%;
        object-fit: contain;
        display: block;
        align-self: flex-end;
        max-height: 81vh;
      }
    }

    .upcyclingpage-video {
      grid-column: 2 / 3;
      grid-row: 1 / 3;
    }

    .upcyclingpage-text {
      width: 100%;
      display: flex;
      flex-direction: column;

      h1 {
        @extend %h1;
        text-align: left;
        font-family: sono;
        font-weight: 800;
        font-size: 200%;
      }

      p {
        text-align: justify;
        font-family: poppins;
        font-size: 100%;
        padding: 0 10vw;
      }
    }
  }
}