//**--------------------------HEADER--------------------------**//
@media (min-width: 992px) {
  .nav-item {
    display: flex;
  }
}

//*!--------------------------TABLET--------------------------*//
@media (min-width: 768px) and (max-width: 1024px) {

  //**--------------------------INDEX--------------------------**//
  .galeria-clasicos {
    &-item {
      &:hover {
        img {
          height: 40vh;
          transition: 1s;
        }
      }
    }
  }

  .upcycling {
    margin-top: 2vh;
    width: 100%;
  }

  .upcycling-container {
    padding: 0 0 7vh 0;
    width: 100%;
  }

  .upcycling-item-text {
    padding: 2vh 0 2vh 2vw;
  }

  .upcycling-item-carousel {
    max-width: 60vw;
  }

  //**--------------------------NOSOTROS--------------------------**//
  .nosotrospage {
    width: 100%;

    .nosotros-grid-container {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column-reverse;
      height: auto;
      overflow: visible;

      .nosotros-grid-item {
        width: 100%;
        height: auto;
        overflow: visible;

        &.nosotros-grid-item-logo {
          display: flex;
          max-width: 300px;
          margin-top: 10vh;
          margin-bottom: 5vh;

          img {
            max-width: 100%;
          }
        }

        &.nosotros-grid-item-text {
          p {
            width: 100%;
            margin: 0;
            padding: 0;
          }
        }

        &.nosotros-grid-item-pufferbag {
          img {
            width: 90%;
            height: auto;
            margin: 0;
            padding: 0;
          }
        }
      }
    }
  }

  //**--------------------------UPCYCLING--------------------------**//
  .body-upcyclingpage {
    .upcyclingpage-grid {
      display: grid;
      justify-self: center;
      grid-template-columns: 2fr 3fr;
      grid-template-rows: 30vh auto;
      width: auto;
      height: auto;
      margin: 0;
      padding: 0;
      column-gap: 0;

      .upcyclingpage-grid-item {
        img {
          justify-self: center;
          width: 70%;
          height: auto;
          padding-top: 4vh;
        }

        video {
          object-fit: cover;
          width: fill;
          object-fit: auto;
          align-self: flex-start;
        }
      }

      .upcyclingpage-text {
        justify-content: flex-start;

        h1 {
          text-align: center;
          font-size: 220%;
        }

        p {
          text-align: justify;
          font-family: poppins;
          font-size: 80%;
          padding-left: 5vw;
          padding-right: 5vw;

        }
      }
    }
  }
}

//*?--------------------------CELULAR--------------------------*//
@media (max-width: 767px) {

  //**--------------------------INDEX--------------------------**//
  .galeria-clasicos {
    &-item {
      &:hover {
        img {
          height: 27vh;
          transition: 1s;
        }
      }
    }
  }

  .upcycling-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .upcycling-item {
    margin: 1vh 2vw 1vh 2vw;
  }

  .upcycling-item-text {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 90%;
    height: auto;
  }

  .upcycling-item h2 {
    font-size: 45px;
    text-align: center;
    margin-bottom: 3vh;
  }

  .upcycling-item p {
    font-size: 15px;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .upcycling-item-carousel {
    max-width: 90vw;
  }

  //**--------------------------NOSOTROS--------------------------**//
  .nosotrospage {
    .nosotros-grid-container {
      display: flex;
      align-items: center;
      flex-direction: column-reverse;
      height: auto;
      overflow: visible;

      .nosotros-grid-item {
        height: auto;
        overflow: visible;

        &.nosotros-grid-item-logo {
          display: flex;
          max-width: 300px;
          margin-top: 6vh;
          margin-bottom: 5vh;

          img {
            max-width: 100%;
          }
        }

        &.nosotros-grid-item-text {
          p {
            margin: 0;
            padding: 0;
          }
        }

        &.nosotros-grid-item-pufferbag {
          img {
            width: 100%;
            height: auto;
            margin: 0;
            padding: 0;
          }
        }
      }
    }
  }

  //**--------------------------NOVEDADES--------------------------**//
  .novedades {
    .novedades-title {
      img {
        height: auto;
        width: 87vw;
        margin: 2vh 0vh 2vh 0vh;
      }
    }

    .novedades-container {
      flex-direction: column;
      align-items: center;
      height: auto;


      .novedades-item {
        width: 80vw;
        height: auto;
        margin-bottom: 1rem;

        img {
          height: auto;
        }

        p {
          height: auto;
          font-size: small;
        }
      }
    }
  }

  //**--------------------------UPCYCLING--------------------------**//
  .body-upcyclingpage {
    .upcyclingpage-grid {
      width: 100vh;
      display: flex;
      flex-direction: column;
      width: auto;
      height: auto;
      margin: 0;
      padding: 0;

      .upcyclingpage-grid-item {
        img {
          justify-self: center;
          width: 100vw;
          height: auto;
          padding: 35px 15px 35px 15px;
        }

        video {
          margin: 0;
          padding: 0;
          width: 100vw;
          height: auto;
          max-height: 100vh;
          object-fit: cover;
        }
      }

      .upcyclingpage-text {

        h1 {
          margin: 35px 5px 35px 5px;
          text-align: center;
          font-size: 300%;
        }

        p {
          font-family: poppins;
          font-size: 90%;
          padding: 0 25px 55px 25px;

        }
      }
    }
  }
}


//*!--------------------------A MEDIDA--------------------------*//
@media (max-width: 1400px) {

  //**--------------------------TESTIMONIOS--------------------------**//
  .testimonios-page {
    .testimonios-input {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 5vh;

      .testimonios-item {
        gap: 0;
        width: 95vw;
        box-sizing: border-box;
        padding: 0 5vw 3vh 5vw;
        align-content: center;
        min-height: auto;
      }

    }
  }
}